<%- include("partials/head.ejs") %>
    <title>Error</title>
</head>
<body>
    <div class="container">
        <h1>Ooopsss....we couldn't create your account</h1>
        <h3>Return to <span><a href="<%= apiVersion %>/sign-up">signup page</a></span> or go <span><a href="<%= apiVersion %>/home">home</a></span></h3>
    </div>
</body>
</html>