<%- include("partials/head.ejs") %>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <div class="container">
            <div class="form-main-containter">
                <form class="form-container">
                    <div>
                        <h2>Login</h2>
                    </div>
                    <div class="form-inputs-container">
                        <label for="email" class="labels">email</label>
                        <input type="email" name="email" id="email-input" required autocomplete="off" class="inputs">
                        <p id="login-fail-email"></p>
                    </div>
                    <div class="form-inputs-container">
                        <label for="password" class="labels">password</label>
                        <input type="password" name="password" id="password-input" required class="inputs">
                        <p id="login-fail-pwd"></p>
                    </div>
                    <div class="form-inputs-container">
                        <input type="submit" value="Login" class="btn" id="submit-btn">
                        <p id="login-success"></p>
                    </div>
                    <div>
                        <p class="new-returning-question">First time? sign up <span class="new-returning-action"><a href="<%= apiVersion %>/sign-up">here</a></span></p>
                        <p>Forgot password? <span><a href="<%= apiVersion %>/reset-password">reset here</a></span></p>
                    </div>
                </form>
            </div>
        </div>
        <script src="/js/handleLogin.js"></script>
    </body>

    </html>