<%- include("partials/head.ejs") %>
    <title>Reset Success</title>
    </head>

    <body>
        <div>
            <h1>Link to update password sent to your email address</h1>
            <p>Go to <span><a href="<%= apiVersion %>/login">login page</a></span></p>
        </div>
    </body>

    </html>